sam_b.pt
yolov8n.pt
./pretrained_weights/*
pretrained_weights/*
runs/*
combo_results/*
yolov8_results/*
yolov9_results/*
yolov5_results/*
sam-auto_results/*
testing/sam-auto_results/*
testing/yolov5_results/*
testing/yolov9_results/*
raw_data/*
DC/*
mask_results/*
datasets/*